#modal-back {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

#modal-back.active {
  top: 0;
}

#modal-back.active + .modal-content {
  top: 0;
}

.modal-content {
  position: relative;
  top: -100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  margin: -15vh auto 0 auto;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px black; 
  z-index: 2;

  transition: top 500ms cubic-bezier(0.5, 1, 0.22, 1);
}

.modal-header {
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
}

.modal-header h2 {
  flex-grow: 1;
}

.modal-close {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  user-select: none;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #FF4949;
  color: white;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.modal-field {
  width: calc(50% - 10px);
  height: 40px;
  outline-style: none;
  border-style: none;
  box-shadow: 0 0 2px black;
  padding: 0 10px;
  font-size: 1rem;
}

.modal-field:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}

.modal-footer {
  background-color: inherit;
  text-align: right;
  padding: 0 20px;

}

@media (max-width:930px) {
  .modal.active {
    top: 0;
  }
  .modal-content {
    margin: 0;
    width: 100%;
    position: fixed;
  }
  .modal-field {
    width: 100%;
  }
}